* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    }

:root {
  --marron-oscuro: #4C2406;  /* Marrón oscuro */
  --marron-claro: #C79976;   /* Beige rosado */
}

body{
    font-family: "Heebo";
}

.titulo{
    font-size: 60px;
}

.navbar {
      background-color: var(--marron-oscuro);
      display: flex;
      justify-content: flex-end;
      padding: 20px 40px;
    }

.navbar a {
      margin-left: 1.5rem;
      text-decoration: none;
      color: var(--marron-claro);
      font-weight: bold;
      border-bottom: 2px solid transparent;
    }

.navbar a:hover {
      border-bottom: 2px solid var(--marron-claro);
    }

.puntos-matriz {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 100px;
  height: 100px;
  background-image: radial-gradient(#000000 1.5px, transparent 1.5px);
  background-size: 16px 20px;
}


.home{
    background-color: var(--marron-claro);
    display: flex;
    height: 550px;
}

.texto-home{
    width: 50%;
    padding: 3rem;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.texto-home h3{
    background-color: var(--marron-oscuro);
    width: 290px;
    color: white;
    font-weight: 300;
}

.img-home{
    width: 50%;
    background-image: url('assets/home_carpintero.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;

}

.img-home img{
    width: 600px;
    height: 500px;
}

.about{
    background-color:  var(--marron-oscuro);
    display: flex;
}

.texto-about{
    width: 50%;
    margin: 2rem;
}

.texto-about h1{
    color: var(--marron-claro);
}

.texto-about p{
    padding:1rem;
    color: white;
}

.img-about{
    width: 50%;
}

.works{
    background-color: #9D6C4F;
}

.works h2{
    color: var(--marron-oscuro);
}

.works-filter {
  text-align: center;
  margin-bottom: 1.5rem;
}

.filter-btn {
  background: transparent;
  border: none;
  padding: 0.6rem 1.2rem;
  margin: 0 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--color-primary);
  border-bottom: 2px solid transparent;
}

.filter-btn.active {
  border-color: var(--color-accent);
}


/* reesponsive*/
/*
.works-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
}
*/

.works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem; /* Espaciado más ajustado */
  padding: 1rem;
  justify-items: center;
}

.item {
  aspect-ratio: 1 / 1;
  width: 100%;
  max-width: 400px; /* Tamaño reducido y controlado */
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: white;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.contacto{
    background-color: var(--marron-oscuro);
}

.contacto h2{
    color: var(--marron-claro);
}